:root {
  --white: #f3f5f6;
}

body {
  background-image: url(image_forest.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 8%;
  margin-bottom: 5%;
}

.container {
  display: flex;
  justify-content: center;
}

.calculator {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(126, 128, 131, 0.7);
  border-radius: 25px;
  padding: 3%;
  width: 600px;
}

.display {
  background: var(--white);
  border-radius: 10px;
  margin: 1%;
  padding-right: 10px;
  height: 20%;
  font-size: 4.5em;
  text-align: end;
}

.keys {
  display: grid;
  /* margin: 5%; */
  grid-template-rows: repeat(var(--grid-row), 1fr);
  grid-template-columns: repeat(var(--grid-col), 1fr);
}

button {
  background-color: #c893a4;
  margin: 3%;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 10px;
  /* border: none; */
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  text-align: center;
  outline: none;
}

/* .is-depressed {
  opacity: 70%;
} */

.num-btn {
  background-color: #ead6dd;
}

footer {
  position: fixed;
  margin: auto;
  bottom: 0;
  height: 30px;
  color: #42464d;
}
