body {
  background-image: url(image-calculator.jpg);
  background-color: #ceeaf7;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
  height: auto;
  font-family: "Nanum Myeongjo", serif;
}

.container {
  display: flex;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 10%;
}

#device {
  background-color: #42464d;
  border-radius: 25px;
  width: 400px;
  height: 500px;
}

#display {
  background-color: #f3f5f6;
  border-radius: 10px;
  margin: 5%;
  padding-top: 3%;
  width: 90%;
  height: 20%;
  font-size: 4.5em;
  text-align: end;
}

#btn-container {
  display: grid;
  margin: 5%;
  grid-template-rows: repeat(var(--grid-row), 1fr);
  grid-template-columns: repeat(var(--grid-col), 1fr);
}

button {
  background-color: #c893a4;
  margin: 3%;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 10px;
  font-family: "Nanum Myeongjo", serif;
  font-size: 2.5em;
  text-align: center;
  outline: none;
}

.num-btn {
  background-color: #ead6dd;
}

footer {
  position: fixed;
  margin: auto;
  bottom: 0;
  height: 30px;
  color: #42464d;
}
